{{ define "main" }}
  {{ "<!-- topics -->" | safeHTML }}
  <section class="section" style="margin-bottom:0px;padding-bottom:0px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <!--<h2 class="section-title">{{ i18n "topics_title" | safeHTML }}</h2>-->
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "docs") }}
        {{ if eq .Params.weight 1 }}
        <div class="col-lg-8 col-sm-3 mb-3">
        {{ else if eq .Params.weight 10000}}
        <div class="col-lg-8 col-sm-3 mb-3">
        {{ else }}
        <div class="col-lg-4 col-sm-3 mb-3">
        {{ end }}
          <a href="{{ .Permalink }}" class="px-3 py-2 bg-white shadow d-block match-height apply-bg {{ if eq .Params.weight 1 }}important-card{{ end }}">
            <!--<i class="{{ .Params.Icon }} icon text-primary d-block mb-4"></i>-->
            <h3 class="mb-3 mt-0">{{ if eq .Params.weight 1 }}<i class="fas fa-map-marker-alt" style="margin-right:0.2em; color:rgb(188, 57, 57);"></i>{{ end }}{{ .Title }}</h3>
            <p class="mb-0">{{ .Params.Description }}</p>
          </a>
        </div>
        {{ end }}
        <div class="col-lg-4 col-sm-3 mb-3" style="background-color:#FC4D50;">
          <a href="https://nanjakorewa.booth.pm/" class="px-3 py-2 d-block match-height" target=”_blank” style="background-color:#FC4D50; color: #fff;">
            <h3 class="mb-3 mt-0"><span style="font-weight:bold; font-style: italic;color:#FFF;">BOOTH</span></h3>
            <p class="mb-0" style="color:#fff;">作ってみたグッズ</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /topics -->" | safeHTML }}

    {{ if eq .Page.Lang "ja"}}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="bg-white update-area">
              <b>{{ .Site.Params.update_message }}</b> <a href="{{ .Site.Params.page_link }}">{{ .Site.Params.page_title }}@{{ .Site.Params.update_date }}</a>
              {{ if .Site.Params.page_link2 }}・<a href="{{ .Site.Params.page_link2 }}">{{ .Site.Params.page_title2 }}@{{ .Site.Params.update_date2 }}</a>{{ end }}</b>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}