{{ define "main" }}
  {{ "<!-- topics -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <!--<h2 class="section-title">{{ i18n "topics_title" | safeHTML }}</h2>-->
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "docs") }}
        {{ if eq .Params.weight 1 }}
        <div class="col-lg-8 col-sm-3 mb-3">
        {{ else }}
        <div class="col-lg-4 col-sm-3 mb-3">
        {{ end }}
          <a href="{{ .Permalink }}" class="px-3 py-2 bg-white shadow d-block match-height apply-bg {{ if eq .Params.weight 1 }}important-card{{ end }}">
            <!--<i class="{{ .Params.Icon }} icon text-primary d-block mb-4"></i>-->
            <h3 class="mb-3 mt-0">{{ if eq .Params.weight 1 }}<i class="fas fa-map-marker-alt" style="margin-right:0.2em; color:rgb(188, 57, 57);"></i>{{ end }}{{ .Title }}</h3>
            <p class="mb-0">{{ .Params.Description }}</p>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ "<!-- /topics -->" | safeHTML }}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-white update-area">
            <b>最近の更新</b> <a href="https://geopinning.space/rule/europe/norway/">ノルウェーのリンク切れ修正</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}