{{ define "main" }}
  {{ "<!-- topics -->" | safeHTML }}
  <section class="section" style="margin-bottom:0px;padding-bottom:0px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <!--<h2 class="section-title">{{ i18n "topics_title" | safeHTML }}</h2>-->
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "docs") }}
        {{ if eq .Params.weight 1 }}
        <div class="col-lg-8 col-sm-3 mb-3">
        {{ else }}
        <div class="col-lg-4 col-sm-3 mb-3">
        {{ end }}
          <a href="{{ .Permalink }}" class="px-3 py-2 bg-white shadow d-block match-height apply-bg {{ if eq .Params.weight 1 }}important-card{{ end }}">
            <!--<i class="{{ .Params.Icon }} icon text-primary d-block mb-4"></i>-->
            <h3 class="mb-3 mt-0">{{ if eq .Params.weight 1 }}<i class="fas fa-map-marker-alt" style="margin-right:0.2em; color:rgb(188, 57, 57);"></i>{{ end }}{{ .Title }}</h3>
            <p class="mb-0">{{ .Params.Description }}</p>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ "<!-- /topics -->" | safeHTML }}

  <section>
    <div class="d-demo">
      <div class="flag-scroller__wrap">
        <ul class="flag-scroller__list flag-scroller__list">
          <li><a href="https://geopinning.space/rule/n_america/canada/"><img src="https://geopinning.space/flags/CA.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/asia/india/"><img src="https://geopinning.space/flags/IN.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/sweden/"><img src="https://geopinning.space/flags/SE.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/africa/ghana/"><img src="https://geopinning.space/flags/GH.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/n_america/mexico/"><img src="https://geopinning.space/flags/MX.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/baltic-state/estonia/"><img src="https://geopinning.space/flags/EE.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/finland/"><img src="https://geopinning.space/flags/FI.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/oceania/new-zealand/"><img src="https://geopinning.space/flags/NZ.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/slovakia/"><img src="https://geopinning.space/flags/SK.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/africa/south-africa/"><img src="https://geopinning.space/flags/ZA.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/united-kingdom/"><img src="https://geopinning.space/flags/UK.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/asia/bhutan/"><img src="https://geopinning.space/flags/BT.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/cs_america/uruguay/"><img src="https://geopinning.space/flags/UY.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/albania/"><img src="https://geopinning.space/flags/AL.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/romania/"><img src="https://geopinning.space/flags/RO.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/greece/"><img src="https://geopinning.space/flags/GR.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/middle_east/turkey/"><img src="https://geopinning.space/flags/TR.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/cs_america/chile/"><img src="https://geopinning.space/flags/CL.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/spain/"><img src="https://geopinning.space/flags/ES.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/andorra/"><img src="https://geopinning.space/flags/AD.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/middle_east/united_arab_emirates/"><img src="https://geopinning.space/flags/AE.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/n_america/usa/"><img src="https://geopinning.space/flags/US.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/iceland/"><img src="https://geopinning.space/flags/IS.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/croatia/"><img src="https://geopinning.space/flags/HR.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/luxembourg/"><img src="https://geopinning.space/flags/LU.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/denmark/"><img src="https://geopinning.space/flags/DK.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/bulgaria/"><img src="https://geopinning.space/flags/BG.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/asia/malaysia/"><img src="https://geopinning.space/flags/MY.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/jersey/"><img src="https://geopinning.space/flags/JE.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/europe/hungary/"><img src="https://geopinning.space/flags/HU.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/middle_east/qatar/"><img src="https://geopinning.space/flags/QA.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/africa/tanzania/"><img src="https://geopinning.space/flags/TZ.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/cs_america/bolivia/"><img src="https://geopinning.space/flags/BO.svg" class="img-top-slider" height="80px" alt=""></a></li>
          <li><a href="https://geopinning.space/rule/cs_america/ecuador/"><img src="https://geopinning.space/flags/EC.svg" class="img-top-slider" height="80px" alt=""></a></li>
      </ul>
    </div>
  </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-white update-area">
            <b>{{ .Site.Params.update_message }}</b> <a href="{{ .Site.Params.page_link }}">{{ .Site.Params.page_title }}@{{ .Site.Params.update_date }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}