@import url(https://fonts.googleapis.com/css?family=M+PLUS+1p);

body {
  font-family: 'M PLUS 1p', sans-serif;
}

body::-webkit-scrollbar, div.jsmaps-text::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb, div.jsmaps-text::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #e4e4e4, #aaacad);
  border-radius: 4px;
}

body::-webkit-scrollbar-track, div.jsmaps-text::-webkit-scrollbar-track {
  background: rgb(25, 24, 42, 1.0);
}

li a:hover {
  text-decoration: underline;
}

h2[id] {
  padding-top: 60px;
  margin-top: -60px;
}

.blur-item {
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.apply-bg {
  background: rgba(255, 255, 255, .95) !important;
}

.apply-bg {
  background: rgba(255, 255, 255, 1) !important;
}

nav.navbar {
  background-color: #19182a;
  color: #fff;
}

nav.navbar a {
  color: #fff !important;
}

footer.section div.container {
  background-color: #fff;
  padding: 0.75em;
}

footer.section div.container p {
  font-size: 0.8em;
}

code.language-css {
  line-height: 1em !important;
}

code.language-css span {
  line-height: 1em !important;
  margin: 0 !important;
}

.container {
  max-width: 95% !important;
}

.code-tabs {
  border: 0 !important;
}

.nav-tabs {
  border-bottom: 0 !important;
}

.code-tabs .nav-tabs .nav-item {
  border-right: 0 !important;
  background-color: #ddd;
  border-radius: 20px;
  margin-right: 1em;
}

.code-tabs-colored .nav-tabs .nav-item:nth-child(1) {
  background-color: #1D5B79;
}

.code-tabs-colored .nav-tabs .nav-item:nth-child(2) {
  background-color: #EF6262;
}

.code-tabs-colored .nav-tabs .nav-item:nth-child(3) {
  background-color: #85A389;
}

.code-tabs-colored .nav-tabs .nav-item:nth-child(4) {
  background-color: #068DA9;
}

.code-tabs-colored .nav-tabs .nav-item:nth-child(5) {
  background-color: #F29727;
}

.code-tabs-colored .nav-tabs .nav-item:nth-child(6) {
  background-color: #EF6262;
}

.code-tabs-colored .nav-tabs .nav-item:nth-child(7) {
  background-color: #EF6262;
}

div.notices:first-child {
  margin: 0 !important;
}

div.notices a:hover {
  text-decoration: underline !important;
}

div[title="わかりやすい目印"] div.notices {
  margin: 3.0em 0 0 0 !important;
}

div[title="わかりやすい目印"] div.notices.info {
  margin: 0 0 3.5em 0 !important;
}

div[title="わかりやすい目印"] div.notices:first-child {
  margin: 0 !important;
}

div[title="わかりやすい目印"] div.googlemap-if {
  margin-bottom: 0.5em;
}

div[title="わかりやすい目印"] div.notices p {
  margin-bottom: 1em !important;
}

div.tip+div.note {
  margin: 0 0 0 0 !important;
}

div.update-area {
  padding: 0.4em;
}

div.update-area a {
  text-decoration: underline black;
}

div.update-area a:hover {
  font-weight: bold;
}

div.main-description {
  background-color: #fff !important;
  padding: 1em;
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
}

div.main-description li {
  line-height: 1.2em;
  margin: 0.1em;
}

div.main-description li ul {
  line-height: 1em;
  margin: 0.1em;
}

a.important-card {
  font-weight: bold;
}


a.important-card p {
  font-size: 1.2em;
}


div.noshow-area {
  display: none !important;
}

div.top-flagarea {
  height: 500px;
}

div.main-information {
  margin: 1em;
  padding: 1em 0em 0em 1em;
  border: 1px solid rgba(10, 10, 10, .6);
}

div.main-information li {
  line-height: 1.2em;
  margin: 0.1em;
}

div.main-information li ul {
  line-height: 1em;
  margin: 0.1em;
}

div.main-information a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2d0";
  margin-right: 0.2em;
}

.content div.main-information ul li::before {
  position: absolute;
  content: '';
  opacity: 0 !important;
}

div.googlemap-if {
  width: 100% !important;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

div.googlemap-if iframe {
  margin: 0;
}

div.googlemap-if div.description {
  margin: 0;
  padding: 0.5em;
  padding-bottom: 0;
  background-color: #f1f1f1;
  font-size: 0.8em;
  width: 295px;
  height: 295px;
}

div.googlemap-if div.description p, div.googlemap-if div.description-wide p {
  margin: 0;
}


div.googlemap-if div.description-wide {
  margin: 0;
  padding: 0.5em;
  padding-bottom: 0;
  background-color: #f1f1f1;
  font-size: 0.8em;
  width: 590px;
}

div.googlemap-if div.description a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2d0";
  margin-right: 0.2em;
}


div.googlemap-if div.imgs a::before {
  content: "" !important;
}


div.googlemap-if div.description-wide a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2d0";
  margin-right: 0.2em;
}

div.googlemap-if div.description-wide a[data-featherlight=image]::before {
  content: "";
  line-height: 0;
}

div.googlemap-if div.description-youtube {
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  background-color: #f1f1f1;
  font-size: 0.8em;
  width: 590px;
}

ul.flag-list {
  background: rgba(55, 110, 120, 0.15);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

div.bg-light ul.flag-list:first-child {
  background: rgba(55, 110, 120, 0);
}

ul.flag-list li {
  float: left;
  list-style: none;
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.content {
  ul.flag-list-japan {
    background: rgba(55, 110, 120, 0.15);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  div.bg-light ul.ul.flag-list-japan:first-child {
    background: rgba(55, 110, 120, 0);
  }

  ul.flag-list-japan {
    list-style-type: none !important;
  }

  ul.flag-list-japan li {
    max-width: 10em;
    float: left;
    list-style: none;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
  }

  ul.flag-list-japan li::before {
    content: "" !important;
    width: 0;
  }

  ul.flag-list-japan li p {
    margin: 0;
    padding: 0;
  }
}


@media (min-width: 800px) {
  .flag-ispref {
    font-size: 0.9em;
    padding: 5px;
    margin-right: 3px;
    max-width: 90px !important;

    img {
      width: 80px !important;
    }
  }
}

a.flag-link {
  max-width: 100px;
  height: 120px;
  inline-size: 150px;
  overflow-wrap: break-word;
}

@media (max-width: 800px) {
  img.flag-img-link {
    width: 50px;
  }
}

@media (min-width: 800px) {
  img.flag-img-link {
    width: 140px;
  }
}

h3.section-title {
  margin-top: 2em;
  padding-left: 0.5em;
  border-left: solid 7px #ffca2c;
}

h3.section-title:first-letter {
  font-size: 1.2em;
}

div.twitter-tab>div {
  margin: 0 auto;
}

div.pixiv-embed {
  text-align: center;
}

div.youtube-area {
  text-align: center;
}

div.linklist {
  padding: 2em 0 1em 1em;
}

div.linklist a {
  position: relative;
  padding-left: 42px;
}

div.linklist a:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f0eb";
  background: #ffca2c;
  color: white;
  font-weight: 900;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


div.linklist a.linktype-pint:before {
  background: red;
  font-family: "Font Awesome 5 Brands";
  content: "\f231";
}

div.linklist a.linktype-pixiv:before {
  background: #0099FF;
  content: "P";
}

div.linklist a.linktype-clip:before {
  background: gray;
  font-family: "Font Awesome 5 Free";
  content: "\f0c6";
}

div.linklist a.linktype-amazon:before {
  background: #000;
  font-family: "Font Awesome 5 Brands";
  content: "\f270";
}

div.linklist a:after {
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  height: 0;
  width: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 12px solid #ffca2c;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

div.linklist a.linktype-pint:after {
  border-left: 12px solid red;
}

div.linklist a.linktype-pixiv:after {
  border-left: 12px solid #0099FF;
}

div.linklist a.linktype-clip:after {
  border-left: 12px solid gray;
}

div.linklist a.linktype-amazon:after {
  border-left: 12px solid #000;
}


.sns_parent {
  text-align: center;
}

.sns_section {
  display: inline-block;
  text-align: left;
}

.sns_button {
  float: left;
  border-radius: 10%;
  -moz-transition: all 0ms ease;
  -o-transition: all 0ms ease;
  -webkit-transition: all 0ms ease;
  transition: all 0ms ease;
}

.sns_button.twitter {
  background-color: #000000;
}

.sns_button.hatena {
  background-color: #01a5df;
}

.sns_button.pocket {
  background-color: #E33D52;
}

.sns_button a {
  display: table-cell;
  width: 44px;
  height: 44px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -moz-transition: all 0ms ease;
  -o-transition: all 0ms ease;
  -webkit-transition: all 0ms ease;
  transition: all 0ms ease;
}

.sns_button i {
  font-size: 20px;
  vertical-align: middle;
}

.sns_button:hover {
  box-shadow: inset 0 0 0 22px #eaeaea;
}

.sns_button+.sns_button {
  margin: 0 0 0 12px;
}

.twitter:hover a {
  color: #1B95E0;
}

.facebook:hover a {
  color: #3B5999;
}

.google:hover a {
  color: #dd4b39;
}

.instagram:hover a {
  color: #2b5c84;
}

.pocket:hover a {
  color: #EE4056;
}

.hatena:hover a {
  color: #4BA3D9;
}

.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold
}

.sns_parent {
  position: relative;
  margin-left: 0;
  margin-bottom: 1em;
}

.sns_section {
  position: absolute;
  display: flex;
  justify-content:
    flex-end;
}

h1.mb-5 {
  margin-bottom: 0rem !important;
}

li.list-inline-item a {
  font-size: 1.5em;
}

div.footer-fontsize-area {
  margin-top: 1em;
  font-size: 0.9em;
}

div.main-desciption {
  margin: 2.5em 1em 0.5em 1em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #ededed;
}

ul.rule-list {
  margin: 1em;
  font-size: 1em;
}

ul.rule-list li::before {
  height: 10px;
  width: 10px;
  opacity: 0.3;
}

ul.rule-list-colored li::before {
  height: 10px;
  width: 10px;
  opacity: 1;
}

ul.rule-list-colored>li:nth-child(1)::before {
  background: #1D5B79 !important;
}

ul.rule-list-colored>li:nth-child(2)::before {
  background: #EF6262 !important;
}

ul.rule-list-colored>li:nth-child(3)::before {
  background: #85A389 !important;
}

ul.rule-list-colored>li:nth-child(4)::before {
  background: #068DA9 !important;
}

ul.rule-list-colored>li:nth-child(5)::before {
  background: #F29727 !important;
}

ul.rule-list-colored>li:nth-child(6)::before {
  background: #1D5B79 !important;
}

ul.rule-list-colored>li:nth-child(7)::before {
  background: #1D5B79 !important;
}

ul.rule-list-colored li>ul li::before {
  height: 10px;
  width: 10px;
  opacity: 0.3;
  background: #000 !important;
  border-radius: 0;
}


ul.rule-list-none {
  font-size: 1em;
  list-style: none;
}

ul.rule-list-none li {
  list-style: none;
}

ul.rule-list-none li::before {
  content: "" !important;
  width: 0px;
}

div.dropdown-menu>a.dropdown-link-item {
  color: #000 !important;
}

a.nav-link:hover {
  color: #ffca2c !important;
}

div.unclickable, p.unclickable {
  /* pointer-events: none; */
}

/* 画面が狭い時はメニューを消す */
@media screen and (max-width: 1000px) {
  ul.list-styled {
    display: none;
  }
}

li.sidelist>a {
  margin-left: 0;
}

a.hinttext {
  font-size: 0.8em;
}

a.hinttext>i {
  margin: 0;
}

a.link-text {
  font-size: 1.0em;
}

a.link-color:hover {
  color: #72b9fc;
}


ul.rule-list li {
  margin-bottom: 10px;
}

ul.rule-list li i {
  margin-bottom: 0px;
}

.content ul.rule-list li.no-evidence {
  list-style: none;
}

/*
.content ul.rule-list li.no-evidence::before {
  font-family: "Font Awesome 5 Free";
  content: "\f059";
  background: rgb(0, 0, 0, 0);
}
*/

a.by-twitch {
  color: #59005c;
}

a.link-color {
  color: #126ec4;
}

.hide-element {
  display: none !important;
}

.blurtext {
  filter: blur(12px);
}

.blurtext::after {
  content: "アイ亜ウエオ居マ";
  filter: blur(12px);
}

.blurtext:hover {
  filter: blur(0px);
  transition-duration: 0.1s;
}

.blurtext:hover::after {
  transition-duration: 0.1s;
  opacity: 0;
}

.blurtext-2 {
  filter: blur(5px);
}

.blurtext-2::after, .blurtext-2::before {
  content: "亜";
  filter: blur(5px);
}

.blurtext-2:hover {
  filter: blur(0px);
  color: #740804;
  font-weight: bold;
  transition-duration: 0.1s;
}

.blurtext-2:hover::after, .blurtext-2:hover::before {
  transition-duration: 0.1s;
  opacity: 0;
}

div#option-area {
  z-index: 100;
  margin: 1em;
  position: sticky;
  top: 42.5px;
  background: linear-gradient(to bottom, rgb(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0) 100%);
  opacity: 1;
  padding-bottom: 2em;
}

div#option-area p {
  margin: 0;
}

div.googlemap-if.div-quizif {
  background-color: #000;
}

.iframe-blur {
  -webkit-mask-image: linear-gradient(160deg, transparent 15%, black 15%);
  mask-image: linear-gradient(160deg, transparent 15%, black 15%);
}

div#comment-container {
  margin: 20px;
}

textarea#urlComment {
  display: none;
}


div.cmt div.cmt-text {
  margin: 0;
}


div.cmt div.cmt-text pre {
  margin: 0;
}

p#comment-notice {
  font-size: 1em;
}

pre.comment {
  font-family: 'M PLUS 1p', sans-serif;
}

textarea#commentTextArea {
  width: 95%;
  max-width: 90%;
  resize: vertical;
}

.code-tabs {
  margin: 20px 17px !important;
}

ol.breadcrumb {
  padding: 0.5em 0.5em 0.5em 1em;
  background-color: #fff;
  border-radius: 0;
}

ol.breadcrumb li {
  display: inline;
  list-style: none;
}

ol.breadcrumb li:hover {
  font-weight: bold;
}

ol.breadcrumb li:not(:last-child)::after {
  content: '>';
  padding: 0 0.5em;
}

div.div-lb p img {
  margin-top: 1em;
  filter: blur(2.2rem);
  transition: 0.3s;
  max-width: 80%;
  transition-property: filter;
}

div.div-lb p {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

div.div-lb p img:hover {
  filter: blur(0rem);
  transition: 0.3s;
}


div.resolution-small p img, div.resolution-small a img {
  filter: blur(1.2rem) !important;
  max-width: 70%;
}

div.resolution-small p img:hover, div.resolution-small a img:hover {
  filter: blur(0rem) !important;
  transition: 0.3s;
}


div.div-lb p:nth-child(2)::before, div.div-lb p:nth-child(4)::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2d0";
  margin-right: 0.2em;
  letter-spacing: 0em;
}

div.div-lb p:nth-child(2), div.div-lb p:nth-child(4) {
  letter-spacing: 0em;
  font-size: 80%;
  text-align: center;
}

div.size-50 p img {
  max-width: 38% !important;
}

a.snsl {
  margin-left: 1em;
  font-size: 1.1em;
}

a.snsl-youtube {
  color: rgb(221, 0, 0);
}

a.snsl-twitter {
  color: rgb(0, 0, 0);
}

.fa-twitter:before {
  content: '𝕏';
  line-height: 1.25;
  font-size: 1.2em;
  font-family: unset;
  font-weight: bold;
}

a.snsl-twitch {
  color: rgb(134, 0, 211);
}

div.content ul>li {
  margin-bottom: 0.2em !important;
}

span.quiz {
  font-weight: bold;
  color: #2b5c84;
}

li.important-rule {
  font-weight: bold;
}

a.area-link {
  font-weight: bold;
}

a.area-link::after {
  font-weight: normal;
  font-family: "Font Awesome 5 Free";
  content: "\f2d2";
  margin-left: 0.2em;
  margin-right: 1em;
}

table.word-list {
  max-width: 80%;
}

table.word-list tr td, table.word-list tr th {
  text-align: center;
}

table.word-list tr td span.blurtext-2 {
  letter-spacing: 0em;
}

table.word-list tr td span.blurtext-2::before {
  content: "これは";
}

table.word-list tr td span.blurtext-2::after {
  content: "語です";
}

span.f-enlarge {
  font-weight: bold;
}

div.unclickable-area a {
  pointer-events: none;
}

span.navbar-toggler-icon {
  filter: invert(100%);
}

.button-sc {
  border-radius: 1em;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  height: 2em;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 4px 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bg-black-button {
  background-color: #4a4a4a;
  color: #FFFFFF;
}

.bg-white-button {
  background-color: #ffffff;
  color: #030303;
  font-weight: bold;
  font-size: 1.1em;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.sc_area {
  padding: 0 0 0 0.3em;
  margin: 0 0 0 0;
  list-style: none;
  overflow: hidden;
}

.add-space {
  padding: 1em 0 1em 0;
  position: relative;
  left: -0.8em;
}

.sc_area>ul>li.sc-title {
  pointer-events: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.sc_area li {
  text-align: center;
  vertical-align: center;
  float: left;
  margin: 0.5em 0 0.4em 0.3em;
}

.sc_area li a {
  text-decoration: none;
}

i.link-title-button {
  font-size: 1.1em;
  margin: 0 0.2em 0 0.3em;
}

i.i-googlecar {
  color: #555;
  margin-left: 0.3em;
}

i.i-bollard {
  opacity: 0;
  color: #555;
  margin-left: 0.3em;
  transform: rotate(-45deg);
}

i.i-bollard2 {
  color: #000;
  transform: rotate(-45deg);
  margin: 0;
}

a.bollard-link {
  font-weight: bold;
}

div.sign-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}

div.sign-area a {
  /* pointer-events: none; */
  margin: 0.5em;
}

div.sign-area-clickable a {
  pointer-events: auto;
  margin: 0em;
  font-size: 0.8em;
}

div.sign-area img {
  max-height: 7em;
  max-width: 10em;
  min-width: 5em;
}

div.sign-area img.small {
  max-height: 6em;
  max-width: 8em;
  min-width: 4em;
}

div.sign-area img.verysmall {
  max-height: 4em;
  max-width: 6em;
  min-width: 3.5em;
}

div.corp-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}

div.corp-area a {
  /* pointer-events: none; */
  margin: 0.5em;
}

div.corp-area-clickable a {
  pointer-events: none;
  margin: 0em;
  font-size: 0.8em;
}

div.corp-area img {
  min-height: 2.5em;
  max-height: 3.5em;
  max-width: 7.5em;
  margin: 0;
}

div.corp-area img.small {
  max-height: 2.5em;
  max-width: 6em;
}

div.corp-area img.verysmall {
  max-height: 2em;
  max-width: 5em;
}

div.licence-area p {
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em !important;
  color: #444;
}

div.licence-area a {
  color: #444;
  font-size: 0.8em !important;
}

i.fa-map-signs {
  margin-bottom: 0;
}

.hover-opacity-1:hover {
  transition: all 0.5s 0s ease;
  opacity: 1 !important;
}

span.small-title {
  font-size: 0.7em;
}

div.map-container {
  width: 95%;
  margin: auto;
}

@media screen and (min-width: 800px) {
  div.jsmaps {
    max-width: 100% !important;
    max-height: 600px !important;
    margin: 0;
  }

  div.jsmaps svg {
    max-height: 90% !important;
  }

  div.jsmaps-text {
    margin-top: 0 !important;
    margin-left: 0em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    width: 50% !important;
    max-height: 630px !important;
  }

  div.jsmaps-wrapper {
    max-height: 640px !important;
  }
}

@media screen and (max-width: 800px) {
  div.map-container {
    display: none;
  }
}

div.areamap-container.narrow-map div.jsmaps {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

div.areamap-container.narrow-map div.jsmaps svg {
  max-width: 400px !important;
  max-height: 600px !important;
  margin: 0 auto !important;
}


div.areamap-container.wide-map div.jsmaps {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

div.areamap-container.wide-map div.jsmaps svg {
  max-width: 85% !important;
  max-height: 700px !important;
  margin: 0 auto !important;
  padding-left: 4%;
}

div.areamap-container.wide-map2 div.jsmaps {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

div.areamap-container.wide-map2 div.jsmaps svg {
  max-width: 700px !important;
  max-height: 600px !important;
  margin: auto !important;
  padding-left: 8%;
}

div.areamap-container.wide-map3 div.jsmaps {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

div.areamap-container.wide-map3 div.jsmaps svg {
  max-width: 750px !important;
  max-height: 700px !important;
  margin: 0 auto !important;
  padding-left: 4%;
}


@media screen and (min-width: 800px) {
  div.areamap-container {
    min-height: 500px;
  }
}

@media screen and (max-width: 800px) {
  div.areamap-container {}
}


div.map-container, div.areamap-container {
  /* 開発用の設定 */
  /* display: none; */
}

div.width-90 {
  max-width: 90%;
}

img.margin-ten-px {
  margin: 10px;
}

img.width150 {
  width: 140px;
}

img.width100 {
  width: 100px;
}

img.maxheight150 {
  height: 140px;
  max-height: 140px;
}

a.a-openmap::after {
  font-family: "Font Awesome 5 Free";
  content: "\f279";
  margin-left: 0.2em;
  margin-right: 0.1em;
}

img.img-top-slider {
  height: 80px;
  margin: 5px;
}

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-90%);
  }
}

_:-ms-lang(x)::-ms-backdrop,
.d-demo {
  display: -ms-grid;
  overflow: hidden;
}

.flag-scroller__wrap {
  display: flex;
  overflow: hidden;
}

.flag-scroller__list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 13px;
}

.flag-scroller__list {
  animation: infinity-scroll-left 180s infinite linear 0.5s both;
}

.demo__wrap:hover .flag-scroller__list {
  animation-play-state: paused;
}

.flag-scroller__item {
  width: calc(100vw / 6);
}

img#gachaImage {
  max-height: 300px;
}

#gachaText {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.buttonRound {
  height: 44px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.2em;
  border-width: 1px;
  font-weight: bold;
  background-color: #fff;
}

.buttonRound:hover {
  background-color: #ffe187;
}

.buttonRound-tweet {
  height: 34px;
  width: 200px;
  border-width: 1px;
  border-radius: 15px;
  margin: 10px;
  font-size: 1em;
  font-weight: bold;
  background-color: #fff;
}

.buttonRound-tweet:hover {
  background-color: #baf9ff;
}

.mymemo {
  opacity: 0.0;
  pointer-events: none;
}

.mymemo.mymemo-show {
  opacity: 1;
  pointer-events: initial;
}

.hidden-setting {
  opacity: 0;
  transition: 0s;
}

.hidden-setting:hover {
  opacity: 0;
}

.polish-font {
  font-family: "Drogowskaz";
}

i.i-enlarge {
  font-size: 1.2em !important;
  margin: 0 0 0 0.2em;
}

i.i-ensmall {
  margin: 0 0.2em 0 0;
}

a.imgref-text {
  font-size: 0.8em;
}

div.no-margin p, div.no-margin a {
  margin: 0 !important;
  padding: 0 !important;
}

div.no-margin p, div.no-margin a img {
  margin-bottom: 0 !important;
}


@media (max-width: 800px) {
  p.mobile-noshow {
    display: none;
  }
}

@media (min-width: 800px) {
  p.mobile-noshow {
    display: default;
  }
}

span.miss-text {
  font-size: 0.5em;
  margin-left: 0.5em;
  color: #777;
}

.rum {
  width: 300px;
}

.rum:hover {
  animation: rumble 0.12s linear infinite;
}

@keyframes rumble {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }

  12.5% {
    transform: rotate(0.4deg) translate(1px, -1px);
  }

  25% {
    transform: rotate(1deg) translate(0px, 1px);
  }

  37.5% {
    transform: rotate(0.4deg) translate(-1px, 0);
  }

  50% {
    transform: rotate(0deg) translate(0, 0);
  }

  62.5% {
    transform: rotate(-0.4deg) translate(1px, 0);
  }

  75% {
    transform: rotate(-0.8deg) translate(0, 3px);
  }

  87.5% {
    transform: rotate(-0.4deg) translate(-1px, -1px);
  }

  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

.streaming-status-disp {
  transition: margin-right 4s 1s;
}

.streaming-status-area-title {
  opacity: 0;
}

.streaming-status-area-img {
  display: none;
}

.streaming-status-area-img-dummy {
  opacity: 0;
}

.streaming-status-area-streming-title {
  font-weight: bold;
  font-size: 0.8em;
}

table.compare-table {
  margin-top: 1em;
  width: 90%;
}

table.compare-table tr td {
  font-size: 0.8em;
  text-align: center;
}

.corp-desc-dp {
  display: none !important;
}

.image-row-booth {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-x: auto;
  padding: 20px;
  background: repeating-linear-gradient(45deg,
      #f0f0f0,
      #f0f0f0 8px,
      #ffffff 8px,
      #ffffff 16px);

  margin: 2.5em 1em .5em;
  padding: 1em;
  border-radius: .5em;
}

.image-row-booth h2 {
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}

.image-item {
  width: 200px;
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.image-item a {
  display: block;
  width: 200px;
  height: 200px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  clip-path: inset(2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  padding-bottom: 0;
}

.caption {
  margin-top: 5px;
  font-size: 16px;
  color: #333;
  margin-bottom: 0;
  padding-bottom: 0;
}

.image-item-lg {
  width: 250px;
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.image-item-lg a {
  display: block;
  width: 250px;
  height: 250px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.image-item-lg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  clip-path: inset(2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  padding-bottom: 0;
}
