{{ "<!-- details page -->" | safeHTML }}
<section class="single section-sm pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar apply-bg2">

          <div id="option-area">
            <p><b>{{ i18n "display_setting" | safeHTML }}</b></p>
            <p>
              <input type="checkbox" id="blur-text-checkbox">
              <label for="blur-text-checkbox">{{ i18n "display_setting_desc" | safeHTML }}</label>
            </p>
            <p>
              <input type="checkbox" id="blur-checkbox">
              <label for="blur-checkbox">{{ i18n "display_setting_cnt" | safeHTML }}</label>
            </p>
            <p>
              <input type="checkbox" id="hide-unconfindent-checkbox">
              <label for="hide-unconfindent-checkbox">{{ i18n "display_setting_noevidence" | safeHTML }}</label>
            </p>
            <p></p>
            <p><i class="fas fa-car-alt i-googlecar"></i> {{ i18n "has_unique_googlecar" | safeHTML }}</p>
            <p><i class="fas fa-hiking i-googlecar"></i> {{ i18n "has_trekker" | safeHTML }}</p>
            <p><i class="fas fa-magic i-bollard"></i> {{ i18n "has_unique_bollard" | safeHTML }}</p>
          </div>

          <ul class="list-styled">
            {{ $currentNode := . }}
            <a class="back-btn" href="{{ .Site.BaseURL | relLangURL }}"></a>
            {{range .Site.Home.Sections.ByWeight}}
              {{ if eq .FirstSection $currentNode.FirstSection }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode}}
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>

      <div class="col-lg-9">
        <ol class="breadcrumb">
          {{- template "breadcrumb" (dict "node" . "start" .) }}
        </ol>
        <div class="p-lg-5 p-4 bg-white apply-bg" style="padding: 1em !important;">
          <h1 class="mb-5">{{ .Title }}{{ if .Params.title_suffix }}<span class="small-title">{{ .Params.title_suffix }}</span>{{ end }}</h1>
          {{ if .Content }}
          {{ partial "share" . }}

          {{ if .Params.add_rule_link }}
          {{ $splitPath := split .File.Dir "\\" }}
          {{ $lastElement := last 2 $splitPath }}
          {{ $lastElement = index $lastElement 0 }}
          {{ $title_string := .Title }}
          {{ $title_string = (replace $title_string "①" "") }}
          {{ $title_string = (replace $title_string "②" "") }}
          {{ if in $lastElement "-" }}{{ $lastElement = (index (split $lastElement "-") 0) }}{{ end }}
          <div class="sc_area add-space">
            <ul>
              <li class="sc-title"><button class="button-sc bg-white-button" role="button"><i class="fas fa-link"></i>{{ i18n "rel-site" | safeHTML }}</button></li>
              <li><a href="https://geopinning.space/rule/{{ $lastElement }}/"><button class="button-sc bg-black-button" role="button">{{ $title_string }}{{ i18n "rule-of-distinguish" | safeHTML }}</button></a></li>
            </ul>
          </div>
          {{ end }}

          {{ if .Params.flag }}
          {{ $flag_path := print "flags/" .Params.flag }}
            {{ if (eq .Page.Lang "ja" )}}
            <div class="content unclickable"><img src="{{ $flag_path | absURL }}" alt="{{ .Title }}の国旗" /></div>
            {{ else }}
            <div class="content unclickable"><img src="{{ $flag_path | absURL }}" alt="national flag of {{ .Title }}" /></div>
            {{ end }}
          {{ end }}

          <!-- sc_area -->
          {{ if .Params.sc }}
          <div class="sc_area">
            <ul>
              <li class="sc-title"><button class="button-sc bg-white-button" role="button"><i class="far fa-question-circle link-title-button"></i>{{ .Params.sc_title }}</button></li>
            {{ range $index, $element := .Params.sc }}
              <li><a href="{{ (index $element 0) }}"><button class="button-sc bg-black-button" role="button">{{ (index $element 1) }}</button></a></li>
            {{ end }}
            </ul>
          </div>
          {{ end }}
          {{ if .Params.add_flagindex }}
            <div class="bg-light p-4">
              {{ if in .Permalink "/rule/" }}
              <ul class="flag-list">
              {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode }}
              </ul>
              {{ else }}
              <ul class="page-list">
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
              </ul>
              {{ end }}
            </div>
          {{ end }}

          {{ if .Params.mapName }}
          <div class="map-container">
            <div class="container">
              <div class="jsmaps-wrapper" id="world-map"></div>
            </div>
        </div>

          <script type="text/javascript">
          $(function() {
              $('#world-map').JSMaps({
              map: '{{ .Params.mapName }}',
              stateClickAction: 'text',
              textPosition: 'right',
              displayAbbreviations: true,
              selectElement: false,
              pinSize: 0,
              });
          });
          </script>

          {{ $temp_path := slice "mp/maps/" (.Params.mapName) ".js" }}
          {{ $temp_path = delimit $temp_path "" }}
          <script src="{{ `mp/jsmaps/jsmaps-libs.js` | absURL }}" type="text/javascript"></script>
          <script src="{{ `mp/jsmaps/jsmaps-panzoom.js` | absURL }}"></script>
          <script src="{{ `mp/jsmaps/jsmaps.min.js` | absURL }}" type="text/javascript"></script>
          <script src="{{ $temp_path  | absURL }}" type="text/javascript"></script>
          {{ end }}

          <div class="content">
          {{.Content}}


          <!-- main information -->
          {{ if .Params.flag }}
          {{ $countryName := lower (slicestr .Params.flag 0 2) }}
          {{ if (eq $countryName "id" )}}{{ $countryName = "idn" }}{{ end }}
          {{ $worldName := path.Base (path.Dir (path.Dir .File.Dir)) }}
          {{ if (eq $countryName "ru" )}}{{ $worldName = "russia_cis" }}{{ end }}
          {{ if (eq $countryName "gb" )}}{{ $countryName = "uk" }}{{ end }}

          <!-- main information area -->
          <div class="main-information {{ if .Params.no_rel_site }}noshow-area{{ end }}">
              <h4 class="section-title">{{ i18n "rel-site" | safeHTML }}</h2>
              <ul class="info-list">
                  <li><a href="https://ja.wikipedia.org/wiki/{{ .Title }}">{{ .Title }} (wikipedia)</a></li>
                  {{ if and (not .Params.no_jetro) (not .Params.no_detaile_info) }}
                  <li>
                      <a href="https://www.jetro.go.jp/world/{{ $worldName }}/{{ $countryName }}/">{{ .Title }}の基本情報</a>
                      {{ if .Params.jetro_detail }}・
                      <a href="https://www.jetro.go.jp/world/{{ $worldName }}/{{ $countryName }}/basic_01.html">言語・宗教</a>・
                      <a href="https://www.jetro.go.jp/reportstop/{{ $worldName }}/{{ $countryName }}/reports/">調査レポート</a>
                      {{ end }}(JETRO/独立行政法人日本貿易振興機構)
                  </li>
                  {{ if .Params.jogmec_detail }}
                  <li><a href="https://mric.jogmec.go.jp/country/?c={{ $countryName }}">{{ .Title }}の鉱業一般概況 (JOGMEC/独立行政法人エネルギー・金属鉱物資源機構)</a></li>
                  {{ end }}
                  <li><a href="https://oilgas-info.jogmec.go.jp/sougou/index.html?cnt=10&pg=1&key={{ .Title }}">{{ .Title }}の記事検索 (JOGMEC 石油・天然ガス資源情報)</a></li>
                  {{ end }}
                  {{ if (eq $countryName "idn" )}}{{ $countryName = "id" }}{{ end }}
                  <li><a href="https://ja.wikipedia.org/wiki/.{{ $countryName }}">.{{ $countryName }} (wikipedia)</a></li>
                  {{ if .Params.plonkit }}
                    {{ if .Params.plonkit_url }}
                    <li><a href="https://www.plonkit.net/{{ .Params.plonkit_url }}">plonk it</a></li>
                    {{ else }}
                    <li><a href="https://www.plonkit.net/{{ path.Base (.File.Dir ) }}">plonk it</a></li>
                    {{ end }}
                  {{ end }}
                  {{ $countryName2 := (slicestr .Params.flag 0 2) }}
                  {{ if not .Params.dont_show_usda }}
                  <li><a href="https://ipad.fas.usda.gov/countrysummary/default.aspx?id={{ $countryName2 }}">{{ .Title }}の地域ごとの農業生産データ（U.S. Department of Agriculture）</a></li>
                  {{ end }}
              </ul>
          </div>
          {{ end }}
          <!-- /main information -->
        </div>
          {{ else }}
          {{ partial "share" . }}
          {{ if .Params.map_index }}
          <div class="areamap-container {{ .Params.additional_map_class }}">
            <div class="container">
              <div class="jsmaps-wrapper" id="world-map"></div>
            </div>
          </div>
            <script type="text/javascript">
            $(function() {
                $('#world-map').JSMaps({
                map: '{{ .Params.map_index }}',
                stateClickAction: 'url',
                disableTooltip: false,
                selectElement: false,
                displayAbbreviations: true,
                hrefTarget: "_self",
                pinSize: 0,
                });
            });
            </script>
            {{ $temp_path := slice "mp/maps/" .Params.map_index ".js" }}
            {{ $temp_path = delimit $temp_path "" }}
            <script src="{{ `mp/jsmaps/jsmaps-libs.js` | absURL }}" type="text/javascript"></script>
            <script src="{{ `mp/jsmaps/jsmaps-panzoom.js` | absURL }}"></script>
            <script src="{{ `mp/jsmaps/jsmaps.min.js` | absURL }}" type="text/javascript"></script>
          <script src="{{ $temp_path  | absURL }}" type="text/javascript"></script>
          {{ end }}
          <div class="bg-light p-4">
              {{ if in .Permalink "/rule/" }}
              <ul class="flag-list">
              {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode }}
              </ul>
              {{ else }}
              <ul class="page-list">
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
              </ul>
              {{ end }}
          </div>
          {{ end }}
          <p class="post-meta border-bottom pb-3 mb-0 mt-3">Updated on {{ .Lastmod.Format "02 Jan 2006" }}</p>
          <nav class="pagination mt-3">
            <!-- Next prev page -->
            {{ $currentNode := . }}
            {{ template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode }}
            {{ define "menu-nextprev" }}
            {{$currentNode := .currentnode }}
            {{ if ne .menu.Params.hidden true}}
            {{if hasPrefix $currentNode.Permalink .menu.Permalink }}
            {{ $currentNode.Scratch.Set "NextPageOK" "OK" }}
            {{ $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") }}
            {{else}}
            {{if eq ($currentNode.Scratch.Get "NextPageOK") "OK"}}
            {{ $currentNode.Scratch.Set "NextPageOK" nil }}
            {{ $currentNode.Scratch.Set "nextPage" .menu }}
            {{end}}
            {{end}}
            {{ $currentNode.Scratch.Set "prevPageTmp" .menu }}

            {{ $currentNode.Scratch.Set "pages" .menu.Pages }}
            {{ if .menu.IsHome}}
            {{ $currentNode.Scratch.Set "pages" .menu.Sections }}
            {{ else if .menu.Sections}}
            {{ $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) }}
            {{end}}
            {{ $pages := ($currentNode.Scratch.Get "pages") }}

            {{ range $pages.ByWeight  }}
            {{ template "menu-nextprev" dict "menu" . "currentnode" $currentNode }}
            {{end}}
            {{ end }}
            {{ end }}

            {{with ($.Scratch.Get "prevPage")}}
            <a class="nav nav-prev" href="{{.Permalink }}"><i class="ti-arrow-left mr-2"></i> <span class="d-none d-md-block no-blur">{{.Title}}</span></a>
            {{end}}
            {{with ($.Scratch.Get "nextPage")}}
            <a class="nav nav-next" href="{{.Permalink }}"> <span class="d-none d-md-block no-blur">{{.Title}}</span><i class="ti-arrow-right ml-2"></i></a>
            {{end}}
          </nav>

          {{ if .Params.flag }}
          <div class="msg-to-gpt">
              geoguessr（ジオゲッサー）のプレイログを記録したページです。
          </div>
          {{else}}
          <div class="msg-to-gpt">
              geoguessr（ジオゲッサー）のプレイログを記録したページです。
          </div>
          {{end}}

          <!-- comment -->
          {{ if .Params.flag }}
          <hr />
          <div id="comment-container">
            <h4 class="no-blur">{{ i18n "comment_title" | safeHTML }}</h4>
            <form action="https://docs.google.com/forms/d/e/1FAIpQLScPjDcb4mLgalHZobINxZ-DvluzmSvbKkrheIzI2_K-FxNScQ/formResponse" target="hidden_iframe" method="post" id="comment-d3-form">
              <p><input type="hidden" name="recaptchaToken" id="recaptchaToken"></p>
              <p><input name="entry.1885482634" placeholder='{{ i18n "comment_name" | safeHTML }}' value="{{ .Site.Params.CommentDefaultName }}" required></p>
              <p><input name="entry.23439025" placeholder="{{ .Site.Params.CommentMailPlaceholder }}" type="email" style="display: none;"></p>
              <p><textarea name="entry.280558367" placeholder="{{ .Site.Params.CommentTextareaPlaceholder }}" rows="3" maxlength="400" id="commentTextArea" required></textarea></p>
              <p><textarea id="urlComment" name="entry.1384915355" placeholder="PageUrl" rows="1" cols="30" maxlength="1000" id="commentTextArea2" required>{{ replace .Permalink "/" "##" }}</textarea></p>
              <input type="submit" id="submitbutton" value='{{ i18n "comment_submit" | safeHTML }}'>
              <p id="comment-notice">{{ i18n "comment_notice" | safeHTML }}</p>
              <p id="comment-complete-msg"></p>
              </form>
              <iframe onload='if(typeof submitted != "undefined" && submitted){}' id=hidden_iframe name=hidden_iframe style=display:none></iframe>

              <script type="text/javascript">
              document.getElementById("comment-d3-form").addEventListener('submit', onSubmit);
              function onSubmit(e)
              {commentTextArea
                      e.preventDefault();
                      checkWrKEOAPDSSSDKVV();
                      grecaptcha.ready(function()
                      {
                        try {
                              grecaptcha.execute('6LePkSElAAAAAJUYutRMNkNu0S7jNVhjTD4dHy1V', {action: 'submit'}).then(function(token)
                              {
                                      var recaptchaToken = document.getElementById('recaptchaToken');
                                      recaptchaToken.value = token;
                                      document.getElementById("comment-d3-form").submit();
                              });
                        } catch (err) {
                          console.error(err);
                        }
                        document.getElementById("comment-complete-msg").textContent ='{{ i18n "comment_complete" | safeHTML }}';
                      });
              }

              function checkWrKEOAPDSSSDKVV() {
                document.getElementById("submitbutton").disabled = true;
                textareas = document.getElementsByTagName('textarea');
                for(var i=0 ;i < textareas.length ;i ++ ){
                  textareas[i].value = textareas[i].value.replace( /</g ,'&lt;' );
                }
                inputs = document.getElementsByTagName('input');
                for(var i=0 ;i < inputs.length ;i ++ ){
                  inputs[i].value = inputs[i].value.replace( /</g ,'&lt;' );
                }
                return submitted=!0;
              }
              </script>

              <div id="comment-area-ertj2jj">
                <script src="https://www.google.com/recaptcha/api.js?render=6Ld06FMjAAAAAK6lrZ9zo1EgJ8X5cphZkZl_04Ax"></script>
                <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
                  <div id="comments-d3"></div>
                  <script defer>
                  d3.csv("https://docs.google.com/spreadsheets/d/1gT0cucz_eg6QrLCIQnanMnmQ0CV7-BvKKfSJFW9V09I/export?format=csv&range=A3:F", function(error, data){
                    var text = "";
                    for(var i=0; i<data.length; i++){
                      if (data[i].BaseUrl == '{{ replace .Permalink "/" "##" }}' && data[i].Accepted == "y") {
                        text += "<div class='cmt'>"
                        text += "  <div class='cmt-header'>[" + i + "] {{ i18n "comment_name" | safeHTML }}:" + data[i].Name + " (" + data[i].Timestamp + ")</div>";
                        text += "  <div class='cmt-text'><pre class='comment'>" + data[i].Comments + "</pre></div>";
                        text += "</div>"
                      }
                    }
                    d3.select("#comments-d3").html(text);
                  });
                </script>
              </div>
          </div>
          {{ end }}
          <!-- /comment -->
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /details page -->" | safeHTML }}

<!-- templates -->
{{ define "section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{safeHTML .Params.head}}
{{ $fileUniqueID := "" }}
{{ with .File }}{{ $fileUniqueID = .UniqueID }}{{ end }}
{{ $currentNodeFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentNodeFileUniqueID = .UniqueID }}{{ end }}
<li data-nav-id="{{.Permalink}}" title="{{.Title}}" class="sidelist
  {{if eq $fileUniqueID $currentNodeFileUniqueID}}active{{end}} no-dot">
  <a href="{{.Permalink}}">
    {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}{{ if .Params.page_no }}{{.Params.page_no}}{{ end }}{{ if .Params.is_has_distinctive_googlecar }}<i class="fas fa-car-alt i-googlecar"></i>{{ end }}{{ if .Params.is_has_many_trekker }}<i class="fas fa-hiking i-googlecar"></i>{{ end }}{{ if .Params.is_has_distinctive_bollard }}<i class="fas fa-magic i-bollard"></i>{{ end }}{{ if .Params.additional_icon }}{{ .Params.additional_icon }}{{ end }}
  </a>
  {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
  {{ if ne $numberOfPages 0 }}
    <ul>
      {{ range .Pages.ByWeight }}
        {{ if and .Params.hidden (not $.showhidden) }}
        {{else}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
        {{end}}
      {{end}}
    </ul>
  {{ end }}
</li>
{{ end }}
{{ end }}

<!-- templates -->
{{ define "section-tree-nav2" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{safeHTML .Params.head}}
{{ $fileUniqueID := "" }}
{{ with .File }}{{ $fileUniqueID = .UniqueID }}{{ end }}
{{ $currentNodeFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentNodeFileUniqueID = .UniqueID }}{{ end }}
<li data-nav-id="{{.Permalink}}" title="{{.Title}}">
  {{ $flag_path := print "flags/" .Params.flag }}
  <a href="{{.Permalink}}" class="flag-link">
    {{ if .Params.flag }}<img src="{{ $flag_path | absURL }}" alt="{{ .Title }}の国旗" class="flag-img-link" oncontextmenu="return false;"/>{{ end }}<br/>
    {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}<br/>
    {{ if .Params.is_has_distinctive_googlecar }}<i class="fas fa-car-alt i-googlecar"></i>{{ end }}{{ if .Params.is_has_many_trekker }}<i class="fas fa-hiking i-googlecar"></i>{{ end }}{{ if .Params.is_has_distinctive_bollard }}<i class="fas fa-magic i-bollard"></i>{{ end }}
  </a>
  {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
  {{ if ne $numberOfPages 0 }}
    <ul class="flag-list">
      {{ range .Pages.ByWeight }}
        {{ if and .Params.hidden (not $.showhidden) }}
        {{else}}
          {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode }}
        {{end}}
      {{end}}
    </ul>
  {{ end }}
</li>
{{ end }}
{{ end }}

{{- define "breadcrumb" }}
  {{- if .node.Parent }}
    {{- template "breadcrumb" (dict "node" .node.Parent "start" .start) }}
  {{- else if not .node.IsHome }}
    {{- template "breadcrumb" (dict "node" .node.Site.Home "start" .start) }}
  {{- end }}

  {{- if eq .node .start }}
    <li>{{ .node.LinkTitle }}
  {{- else }}
    {{- if eq .node.LinkTitle site.Title }}
    <li><a href="{{ .node.Permalink }}">{{ i18n "toppage" | safeHTML }}</a>
    {{- else }}
    <li><a href="{{ .node.Permalink }}">{{ .node.LinkTitle }}</a>
    {{- end }}
  {{- end }}
{{- end }}

<!-- embedcode -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
