{{ "<!-- details page -->" | safeHTML }}
<section class="single section-sm pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar apply-bg2  {{if .Params.bgf}}opacity-09{{end}}">
          {{ if site.Params.search.enable }}
          <div class="sidebar-search">
            <button type="button" class="sidebar-search-trigger" data-target="search-modal" aria-label="{{ i18n "search_input_placeholder" }}">
              <span class="sidebar-search-icon" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                </svg>
              </span>
              <span class="sidebar-search-placeholder">{{ i18n "search_input_placeholder" }}</span>
              <span class="sidebar-search-shortcut">Ctrl + K</span>
            </button>
          </div>
          {{ end }}
          <div id="option-area">
            <!--<p><b>{{ i18n "display_setting" | safeHTML }}</b></p>
            <p>
              <input type="checkbox" id="blur-text-checkbox">
              <label for="blur-text-checkbox">{{ i18n "display_setting_desc" | safeHTML }}</label>
            </p>
            <p>
              <input type="checkbox" id="blur-checkbox">
              <label for="blur-checkbox">{{ i18n "display_setting_cnt" | safeHTML }}</label>
            </p>
            <p>
              <input type="checkbox" id="hide-unconfindent-checkbox">
              <label for="hide-unconfindent-checkbox">{{ i18n "display_setting_noevidence" | safeHTML }}</label>
            </p>-->
            <p class="mobile-noshow"><b>{{ i18n "display_meaning" | safeHTML }}</b></p>
            <p class="mobile-noshow"><i class="fas fa-car-alt i-googlecar"></i> {{ i18n "has_unique_googlecar" | safeHTML }}</p>
            <p class="mobile-noshow" style="margin-bottom:5px"><i class="fas fa-hiking i-googlecar"></i> {{ i18n "has_trekker" | safeHTML }}</p>
            <p class="mobile-noshow" style="margin-bottom:5px"><i class="fa fa-question-circle"></i><u><a href="#" id="toggle-link">{{ i18n "is_has_no_official_coverage" | safeHTML }}</a></u></p>

            <p class="streaming-status-area-title streaming-status-disp" id="streaming-status-area" style="margin-top: 0.4em;"><b>{{ i18n "streaming_status" | safeHTML }}</b></p>
            <p><a href="https://www.youtube.com/@nanjakorewa"><img class="streaming-status-area-img streaming-status-disp" id="youtube-button-streaming" src='{{ "sns/youtube.png" | absURL }}' width="110px" height="18.91px"></a>
              <a href="https://www.twitch.tv/nanjakorewa"><img class="streaming-status-area-img streaming-status-disp" id="twitch-button-streaming" src='{{ "sns/twitch.png" | absURL }}' width="110px" height="18.91px"></a></p>
            <p class="streaming-status-area-streming-title streaming-status-disp" id="streaming-title"></p>
            </div>

          {{ $currentNode := . }}
          {{ $expandAll := eq $currentNode.RelPermalink "/rule/" }}
          <ul class="list-styled">
            <a class="back-btn" href="{{ .Site.BaseURL | relLangURL }}"></a>
            {{range .Site.Home.Sections.ByWeight}}
              {{ if eq .FirstSection $currentNode.FirstSection }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "expandAll" $expandAll}}
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>

      <div class="col-lg-9">
        <ol class="breadcrumb article-breadcrumb">
          {{- template "breadcrumb" (dict "node" . "start" .) }}
        </ol>
        <div class="article-surface">
          <h1 class="mb-5">{{ if .Params.title_prefix }}<span class="small-title">{{ .Params.title_prefix }}</span>{{ end }}{{ .Title }}{{ if .Params.title_suffix }}<span class="small-title">{{ .Params.title_suffix }}</span>{{ end }}<span style="font-size:0.5em">{{ if .Params.is_has_distinctive_googlecar }}<i class="fas fa-car-alt i-googlecar"></i>{{ end }}{{ if .Params.is_has_many_trekker }}<i class="fas fa-hiking i-googlecar"></i>{{ end }}{{ if .Params.is_has_distinctive_bollard }}<i class="fas fa-magic i-bollard"></i>{{ end }}{{ if .Params.is_unofficial }}<i class="fa fa-question-circle"></i>{{ end }}</span></span></h1>
          {{ if .Content }}
          {{ partial "share" (dict "page" . "idname" "pagetop" "titlestr" .Title "snsshareurl" .Permalink) }}

          {{ if .Params.add_rule_link }}
          {{ $splitPath := split .File.Dir "\\" }}
          {{ $lastElement := last 2 $splitPath }}
          {{ $lastElement = index $lastElement 0 }}
          {{ $title_string := .Title }}
          {{ $title_string = (replace $title_string "①" "") }}
          {{ $title_string = (replace $title_string "②" "") }}
          {{ if in $lastElement "-" }}{{ $lastElement = (index (split $lastElement "-") 0) }}{{ end }}
          <div class="sc_area add-space">
            <ul>
              <li class="sc-title"><button class="button-sc bg-white-button" role="button"><i class="fas fa-link"></i>{{ i18n "rel-site" | safeHTML }}</button></li>
              <li><a href="https://geopinning.space/rule/{{ $lastElement }}/"><button class="button-sc bg-black-button" role="button">{{ $title_string }}{{ i18n "rule-of-distinguish" | safeHTML }}</button></a></li>
            </ul>
          </div>
          {{ end }}

          {{ if .Params.flag }}
          {{ $flag_path := print "flags/" .Params.flag }}
            {{ if (eq .Page.Lang "ja" )}}
            <div class="content unclickable {{ if not .Params.flag_height }}top-flagarea{{ end }}" {{ if .Params.flag_height }}style="height:{{ .Params.flag_height }};"{{ end }}><img src="{{ $flag_path | absURL }}" alt="{{ .Title }}の国旗" width="680px" height="500px"/></div>
            {{ else }}
            <div class="content unclickable {{ if not .Params.flag_height }}top-flagarea{{ end }}" {{ if .Params.flag_height }}style="height:{{ .Params.flag_height }};"{{ end }}><img src="{{ $flag_path | absURL }}" alt="national flag of {{ .Title }}" width="680px" height="500px"/></div>
            {{ end }}
          {{ end }}

          <!-- sc_area -->
          {{ if .Params.sc }}
          <div class="sc_area">
            <ul>
              <li class="sc-title"><button class="button-sc bg-white-button" role="button"><i class="far fa-question-circle link-title-button"></i>{{ .Params.sc_title }}</button></li>
            {{ range $index, $element := .Params.sc }}
              <li><a href="{{ (index $element 0) }}"><button class="button-sc bg-black-button" role="button">{{ (index $element 1) }}</button></a></li>
            {{ end }}
            </ul>
          </div>
          {{ end }}
          {{ if .Params.add_flagindex }}
            <div class="bg-light p-4">
              {{ if in .Permalink "/rule/" }}
              <ul class="flag-list">
              {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode "expandAll" $expandAll }}
              </ul>
              {{ else }}
              <ul class="page-list">
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "expandAll" $expandAll }}
              </ul>
              {{ end }}
            </div>
          {{ end }}

          <!-- map_area -->
          {{ if .Params.maps }}
          <div class="sc_area">
            <ul>
              <li class="sc-title"><button class="button-sc bg-white-button" role="button"><i class="fas fa-map-marked-alt link-title-button"></i>{{ .Params.map_title }}</button></li>
            {{ range $index, $element := .Params.maps }}
              <li><a href="{{ (index $element 0) }}"><button class="button-sc bg-black-button" role="button">{{ (index $element 1) }}</button></a></li>
            {{ end }}
            </ul>
          </div>
          {{ end }}

          {{ if .Params.mapName }}
          <div class="map-container">
            <div class="container">
              <div class="jsmaps-wrapper" id="world-map"></div>
            </div>
        </div>

          <script type="text/javascript">
          $(function() {
              $('#world-map').JSMaps({
              map: '{{ .Params.mapName }}',
              stateClickAction: 'text',
              textPosition: 'right',
              displayAbbreviations: true,
              selectElement: false,
              pinSize: 0,
              });
          });
          </script>

          {{ $temp_path := slice "mp/maps/" (.Params.mapName) ".js" }}
          {{ $temp_path = delimit $temp_path "" }}
          <script src="{{ `mp/jsmaps/jsmaps-libs.js` | absURL }}" type="text/javascript"></script>
          <script src="{{ `mp/jsmaps/jsmaps-panzoom.js` | absURL }}"></script>
          <script src="{{ `mp/jsmaps/jsmaps.min.js` | absURL }}" type="text/javascript"></script>
          <script src="{{ $temp_path  | absURL }}" type="text/javascript"></script>
          {{ end }}

          <div class="content">
          {{.Content}}


          <!-- main information -->
          {{ if .Params.flag }}
          {{ $countryName := lower (slicestr .Params.flag 0 2) }}
          {{ if (eq $countryName "id" )}}{{ $countryName = "idn" }}{{ end }}
          {{ $worldName := path.Base (path.Dir (path.Dir .File.Dir)) }}
          {{ if (eq $countryName "ru" )}}{{ $worldName = "russia_cis" }}{{ end }}
          {{ if (eq $countryName "gb" )}}{{ $countryName = "uk" }}{{ end }}

          <!-- main information area -->
          <div class="main-information {{ if .Params.no_rel_site }}noshow-area{{ end }}">
              <h4 class="section-title">{{ i18n "rel-site" | safeHTML }}</h2>
              <ul class="info-list">
                  <li><a href="https://ja.wikipedia.org/wiki/{{ .Title }}">{{ .Title }} (wikipedia)</a></li>
                  {{ if and (not .Params.no_jetro) (not .Params.no_detaile_info) }}
                  <li>
                      <a href="https://www.jetro.go.jp/world/{{ $worldName }}/{{ $countryName }}/">{{ .Title }}の基本情報</a>
                      {{ if .Params.jetro_detail }}・
                      <a href="https://www.jetro.go.jp/world/{{ $worldName }}/{{ $countryName }}/basic_01.html">言語・宗教</a>・
                      <a href="https://www.jetro.go.jp/reportstop/{{ $worldName }}/{{ $countryName }}/reports/">調査レポート</a>
                      {{ end }}(JETRO/独立行政法人日本貿易振興機構)
                  </li>
                  {{ if .Params.jogmec_detail }}
                  <li><a href="https://mric.jogmec.go.jp/country/?c={{ $countryName }}">{{ .Title }}の鉱業一般概況 (JOGMEC/独立行政法人エネルギー・金属鉱物資源機構)</a></li>
                  {{ end }}
                  <li><a href="https://oilgas-info.jogmec.go.jp/sougou/index.html?cnt=10&pg=1&key={{ .Title }}">{{ .Title }}の記事検索 (JOGMEC 石油・天然ガス資源情報)</a></li>
                  {{ end }}
                  {{ if (eq $countryName "idn" )}}{{ $countryName = "id" }}{{ end }}
                  <li><a href="https://ja.wikipedia.org/wiki/.{{ $countryName }}">.{{ $countryName }} (wikipedia)</a></li>
                  {{ if .Params.plonkit }}
                    {{ if .Params.plonkit_url }}
                    <li><a href="https://www.plonkit.net/{{ .Params.plonkit_url }}">plonk it</a></li>
                    {{ else }}
                    <li><a href="https://www.plonkit.net/{{ path.Base (.File.Dir ) }}">plonk it</a></li>
                    {{ end }}
                  {{ end }}
                  {{ $countryName2 := (slicestr .Params.flag 0 2) }}
                  {{ if not .Params.dont_show_usda }}
                  <li><a href="https://ipad.fas.usda.gov/countrysummary/default.aspx?id={{ $countryName2 }}">{{ .Title }}の地域ごとの農業生産データ（U.S. Department of Agriculture）</a></li>
                  {{ end }}
              </ul>
          </div>
          {{ end }}
          <!-- /main information -->
        </div>
          {{ else }}
          {{ partial "share" (dict "page" . "idname" "default" "titlestr" .Title "snsshareurl" .Permalink) }}

          <!-- sc_area -->
          {{ if .Params.sc }}
          <div class="sc_area">
            <ul>
              <li class="sc-title"><button class="button-sc bg-white-button" role="button"><i class="far fa-question-circle link-title-button"></i>{{ .Params.sc_title }}</button></li>
            {{ range $index, $element := .Params.sc }}
              <li><a href="{{ (index $element 0) }}"><button class="button-sc bg-black-button" role="button">{{ (index $element 1) }}</button></a></li>
            {{ end }}
            </ul>
          </div>
          {{ end }}

          {{ if .Params.map_index }}
          <div class="areamap-container {{ .Params.additional_map_class }}">
            <div class="container">
              <div class="jsmaps-wrapper" id="world-map"></div>
            </div>
          </div>
            <script type="text/javascript">
            $(function() {
                $('#world-map').JSMaps({
                map: '{{ .Params.map_index }}',
                stateClickAction: 'url',
                disableTooltip: false,
                selectElement: false,
                displayAbbreviations: true,
                hrefTarget: "_self",
                pinSize: 0,
                });
            });
            </script>
            {{ $temp_path := slice "mp/maps/" .Params.map_index ".js" }}
            {{ $temp_path = delimit $temp_path "" }}
            <script src="{{ `mp/jsmaps/jsmaps-libs.js` | absURL }}" type="text/javascript"></script>
            <script src="{{ `mp/jsmaps/jsmaps-panzoom.js` | absURL }}"></script>
            <script src="{{ `mp/jsmaps/jsmaps.min.js` | absURL }}" type="text/javascript"></script>
          <script src="{{ $temp_path  | absURL }}" type="text/javascript"></script>
          {{ end }}
          <div class=" p-4">
              {{ if in .Permalink "/rule/" }}
              <ul class="flag-list">
              {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode "expandAll" $expandAll }}
              </ul>
              {{ else }}
              <ul class="page-list">
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "expandAll" $expandAll }}
              </ul>
              {{ end }}
          </div>
          {{ end }}
          <p class="post-meta border-bottom pb-3 mb-0 mt-3">Updated on {{ .Lastmod.Format "02 Jan 2006" }}</p>
          <nav class="pagination mt-3">
            <!-- Next prev page -->
            {{ $currentNode := . }}
            {{ template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode }}
            {{ define "menu-nextprev" }}
            {{$currentNode := .currentnode }}
            {{ if ne .menu.Params.hidden true}}
            {{if hasPrefix $currentNode.Permalink .menu.Permalink }}
            {{ $currentNode.Scratch.Set "NextPageOK" "OK" }}
            {{ $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") }}
            {{else}}
            {{if eq ($currentNode.Scratch.Get "NextPageOK") "OK"}}
            {{ $currentNode.Scratch.Set "NextPageOK" nil }}
            {{ $currentNode.Scratch.Set "nextPage" .menu }}
            {{end}}
            {{end}}
            {{ $currentNode.Scratch.Set "prevPageTmp" .menu }}

            {{ $currentNode.Scratch.Set "pages" .menu.Pages }}
            {{ if .menu.IsHome}}
            {{ $currentNode.Scratch.Set "pages" .menu.Sections }}
            {{ else if .menu.Sections}}
            {{ $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) }}
            {{end}}
            {{ $pages := ($currentNode.Scratch.Get "pages") }}

            {{ range $pages.ByWeight  }}
            {{ template "menu-nextprev" dict "menu" . "currentnode" $currentNode }}
            {{end}}
            {{ end }}
            {{ end }}

            {{with ($.Scratch.Get "prevPage")}}
            <a class="nav nav-prev" href="{{.Permalink }}"><i class="ti-arrow-left mr-2"></i> <span class="d-none d-md-block no-blur">{{.Title}}</span></a>
            {{end}}
            {{with ($.Scratch.Get "nextPage")}}
            <a class="nav nav-next" href="{{.Permalink }}"> <span class="d-none d-md-block no-blur">{{.Title}}</span><i class="ti-arrow-right ml-2"></i></a>
            {{end}}
          </nav>

          {{ if .Params.flag }}
          <div class="msg-to-gpt">
              geoguessr（ジオゲッサー）のプレイログを記録したページです。
          </div>
          {{else}}
          <div class="msg-to-gpt">
              geoguessr（ジオゲッサー）のプレイログを記録したページです。
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /details page -->" | safeHTML }}

<!-- templates -->
{{ define "section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{ $currentPermalink := "" }}
{{ with $currentNode }}{{ $currentPermalink = .RelPermalink }}{{ end }}
{{ $expandAll := or .expandAll false }}
{{with .sect}}
{{safeHTML .Params.head}}
{{ $fileUniqueID := "" }}
{{ with .File }}{{ $fileUniqueID = .UniqueID }}{{ end }}
{{ $currentNodeFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentNodeFileUniqueID = .UniqueID }}{{ end }}
<li data-nav-id="{{.Permalink}}" title="{{.Title}}" class="sidelist
  {{if eq $fileUniqueID $currentNodeFileUniqueID}}active{{end}} no-dot {{ if .Params.is_unofficial }}unofficial-area dontshowarea{{ end }}">
    {{ if .Params.quiz_suffix }}
    <a href="{{.Permalink}}">
      {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}{{ if .Params.page_no }}{{.Params.page_no}}{{ end }}{{ if .Params.is_has_distinctive_googlecar }}<i class="fas fa-car-alt i-googlecar"></i>{{ end }}{{ if .Params.is_has_many_trekker }}<i class="fas fa-hiking i-googlecar"></i>{{ end }}{{ if .Params.is_has_distinctive_bollard }}<i class="fas fa-magic i-bollard"></i>{{ end }}{{ if .Params.additional_icon }}{{ .Params.additional_icon }}{{ end }}{{ if .Params.is_unofficial }}<i class="fa fa-question-circle"></i>{{ end }}『{{ .Params.quiz_suffix }}』
    </a>
    {{ else }}
    <a href="{{.Permalink}}">
      {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}{{ if .Params.page_no }}{{.Params.page_no}}{{ end }}{{ if .Params.is_has_distinctive_googlecar }}<i class="fas fa-car-alt i-googlecar"></i>{{ end }}{{ if .Params.is_has_many_trekker }}<i class="fas fa-hiking i-googlecar"></i>{{ end }}{{ if .Params.is_has_distinctive_bollard }}<i class="fas fa-magic i-bollard"></i>{{ end }}{{ if .Params.additional_icon }}{{ .Params.additional_icon }}{{ end }}{{ if .Params.is_unofficial }}<i class="fa fa-question-circle"></i>{{ end }}
    </a>
    {{ end }}
  {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
  {{ $isActiveBranch := or (eq $fileUniqueID $currentNodeFileUniqueID) (and (ne $currentPermalink "") (hasPrefix $currentPermalink .RelPermalink)) }}
  {{ if and (ne $numberOfPages 0) (or $isActiveBranch $expandAll) }}
    <ul>
      {{ range .Pages.ByWeight }}
        {{ if and .Params.hidden (not $.showhidden) }}
        {{else}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "expandAll" $expandAll }}
        {{end}}
      {{end}}
    </ul>
  {{ end }}
</li>
{{ end }}
{{ end }}

<!-- templates -->
{{ define "section-tree-nav2" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{ $currentPermalink := "" }}
{{ with $currentNode }}{{ $currentPermalink = .RelPermalink }}{{ end }}
{{ $expandAll := or .expandAll false }}
{{with .sect}}
{{safeHTML .Params.head}}
{{ $fileUniqueID := "" }}
{{ with .File }}{{ $fileUniqueID = .UniqueID }}{{ end }}
{{ $currentNodeFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentNodeFileUniqueID = .UniqueID }}{{ end }}
<li data-nav-id="{{.Permalink}}" title="{{.Title}}" class="{{ if .Params.is_pref }}flag-ispref{{ end }} {{ if .Params.is_unofficial }}unofficial-area dontshowarea{{ end }}">
  {{ $flag_path := print "flags/" .Params.flag }}
  <a href="{{.Permalink}}" class="flag-link">
    {{ if .Params.flag }}<img src="{{ $flag_path | absURL }}" alt="{{ .Title }}の国旗" class="flag-img-link" oncontextmenu="return false;"/>{{ end }}<br/>
    {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}<br/>
    {{ if .Params.is_has_distinctive_googlecar }}<i class="fas fa-car-alt i-googlecar"></i>{{ end }}{{ if .Params.is_has_many_trekker }}<i class="fas fa-hiking i-googlecar"></i>{{ end }}{{ if .Params.is_has_distinctive_bollard }}<i class="fas fa-magic i-bollard"></i>{{ end }}{{ if .Params.is_unofficial }}<i class="fa fa-question-circle"></i>{{ end }}
  </a>
  {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
  {{ $isActiveBranch := or (eq $fileUniqueID $currentNodeFileUniqueID) (and (ne $currentPermalink "") (hasPrefix $currentPermalink .RelPermalink)) }}
  {{ if and (ne $numberOfPages 0) (or $isActiveBranch $expandAll) }}
    <ul class="flag-list">
      {{ range .Pages.ByWeight }}
        {{ if and .Params.hidden (not $.showhidden) }}
        {{else}}
          {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode "expandAll" $expandAll }}
        {{end}}
      {{end}}
    </ul>
  {{ end }}
</li>
{{ end }}
{{ end }}

{{- define "breadcrumb" }}
  {{- if .node.Parent }}
    {{- template "breadcrumb" (dict "node" .node.Parent "start" .start) }}
  {{- else if not .node.IsHome }}
    {{- template "breadcrumb" (dict "node" .node.Site.Home "start" .start) }}
  {{- end }}

  {{- if eq .node .start }}
    <li>{{ .node.LinkTitle }}
  {{- else }}
    {{- if eq .node.LinkTitle site.Title }}
    <li><a href="{{ .node.Permalink }}">{{ i18n "toppage" | safeHTML }}</a>
    {{- else }}
    <li><a href="{{ .node.Permalink }}">{{ .node.LinkTitle }}</a>
    {{- end }}
  {{- end }}
{{- end }}

<!-- embedcode -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
