{{ "<!-- footer -->" | safeHTML }}
<footer class="section pb-4">
  <div class="container apply-bg">
    <div class="row align-items-center">
      <div class="col-md-12 text-md-center text-center">
        <ul class="list-inline">
          {{ range .Site.Params.social }}
          <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="text-center">
      <p class="footer-meta__text mb-0">
        <span class="footer-meta__brand">© 2021-2025 nanja.</span>
        <a class="footer-meta__link" href="{{ "/about/" | relLangURL }}">プライバシーポリシー</a>
      </p>
    </div>
  </div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<script>
const toggleLink = document.getElementById("toggle-link");
if (toggleLink) {
  toggleLink.addEventListener("click", function (event) {
    event.preventDefault();
    document.querySelectorAll("li.unofficial-area").forEach(li => {
      li.classList.toggle("dontshowarea");
    });
  });
}
</script>


{{ if .Params.flag }}

<script defer>
d3.csv('https://docs.google.com/spreadsheets/d/1wRzEFe1kQKQl8flRhe0V5gJTRD-XVO_Ux-Nd8rtGAmU/export?format=csv&range=A3:D', function(error, data){
    let media = data[0].StreamSetting;
    if (media==="youtube"){
      var areaTitle = document.getElementById("streaming-status-area");
      areaTitle.className = areaTitle.className.replace("streaming-status-area-title", "");
      var ytTitle = document.getElementById("youtube-button-streaming");
      ytTitle.className = ytTitle.className.replace("streaming-status-area", "");
      var stTitle = document.getElementById("streaming-title");
      stTitle.innerHTML = data[0].StreamingTitle;
    }
    else if (media==="twitch"){
      var areaTitle = document.getElementById("streaming-status-area");
      areaTitle.className = areaTitle.className.replace("streaming-status-area-title", "");
      var twTitle = document.getElementById("twitch-button-streaming");
      twTitle.className = twTitle.className.replace("streaming-status-area-img", "");
      var stTitle = document.getElementById("streaming-title");
      stTitle.innerHTML = data[0].StreamingTitle;
    }
});
</script>
{{ end }}
