{{ "<!-- footer -->" | safeHTML }}
<footer class="section pb-4">
  <div class="container apply-bg">
    <div class="row align-items-center">
      <div class="col-md-8 text-md-left text-center">
       <p class="mb-md-0 mb-4">{{ .Site.Params.copyright | markdownify }}</p>
      </div>
      <div class="col-md-4 text-md-right text-center">
        <ul class="list-inline">
          {{ range .Site.Params.social }}
          <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>



{{ if .Params.flag }}

<script defer>
d3.csv('https://docs.google.com/spreadsheets/d/1wRzEFe1kQKQl8flRhe0V5gJTRD-XVO_Ux-Nd8rtGAmU/export?format=csv&range=A3:D', function(error, data){
    let media = data[0].StreamSetting;
    if (media==="youtube"){
      var areaTitle = document.getElementById("streaming-status-area");
      areaTitle.className = areaTitle.className.replace("streaming-status-area-title", "");
      var ytTitle = document.getElementById("youtube-button-streaming");
      ytTitle.className = ytTitle.className.replace("streaming-status-area", "");
      var stTitle = document.getElementById("streaming-title");
      stTitle.innerHTML = data[0].StreamingTitle;
    }
    else if (media==="twitch"){
      var areaTitle = document.getElementById("streaming-status-area");
      areaTitle.className = areaTitle.className.replace("streaming-status-area-title", "");
      var twTitle = document.getElementById("twitch-button-streaming");
      twTitle.className = twTitle.className.replace("streaming-status-area-img", "");
      var stTitle = document.getElementById("streaming-title");
      stTitle.innerHTML = data[0].StreamingTitle;
    }
});
</script>
{{ end }}