{{ if ne .Params.share false}}
  {{ if or (eq .idname "default") (eq .idname "pagetop") }}
  <section class="section sns_parent">
    <div class="sns_section">
        <div class="sns_button twitter">
          <a href="https://twitter.com/share?url={{ .snsshareurl }}&text=GeoGuessrのメモ++{{ .titlestr }}" target="_blank" title="Tweet"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="sns_button hatena">
          <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><i class="fa fa-hatena"></i></i></a>
        </div>
        <div class="sns_button pocket">
          <a href="https://getpocket.com/edit?url={{ .snsshareurl }}&title={{ .titlestr }}" target="_blank" title="pocket"><i class="fab fa-get-pocket"></i></a>
        </div>
    </div>
  </section>
  {{ else }}
  <section class="section sns_parent sharebutton-inpage">
    <div class="sns_section">
        <div class="sns_button twitter">
          <a href="https://twitter.com/share?url={{ .snsshareurl }}&text=GeoGuessrのメモ++{{ .titlestr }}" target="_blank" title="Tweet"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="sns_button hatena">
          <a href="https://b.hatena.ne.jp/add?mode=confirm&url={{ .snsshareurl }}&title={{ .titlestr }}" target="_blank" title="hatena"><i class="fa fa-hatena"></i></i></a>
        </div>
        <div class="sns_button pocket">
          <a href="https://getpocket.com/edit?url={{ .snsshareurl }}&title={{ .titlestr }}" target="_blank" title="pocket"><i class="fab fa-get-pocket"></i></a>
        </div>
    </div>
  </section>
  {{ end }}
{{ end }}
