{{ if ne .Params.share false}}
  {{ if or (eq .idname "default") (eq .idname "pagetop") }}
  <section class="section sns_parent">
    <div class="sns_section">
        <div class="sns_button twitter">
          <a href="http://twitter.com/share?url={{ .Permalink }}&text=GeoGuessrのメモ++{{ .Title }}" target="_blank" title="Tweet"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="sns_button hatena">
          <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="touch" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </div>
        <div class="sns_button pocket">
          <a href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="pocket"><i class="fab fa-get-pocket"></i></a>
        </div>
    </div>
  </section>
  {{ else }}
  <section class="section sns_parent sharebutton-inpage">
    <div class="sns_section">
        <div class="sns_button twitter">
          <a href="http://twitter.com/share?url={{ .Permalink }}&text=GeoGuessrのメモ++{{ .Title }}" target="_blank" title="Tweet"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="sns_button hatena">
          <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="touch" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </div>
        <div class="sns_button pocket">
          <a href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="pocket"><i class="fab fa-get-pocket"></i></a>
        </div>
    </div>
  </section>
  {{ end }}
{{ end }}
